<a href="https://colab.research.google.com/github/zmorgado/numpy-labs/blob/main/T4_Estructura_de_Datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
### sesión 4:

my_string = "este es MI sueño"
my_string.lower()
my_string.upper()
my_string.title()
my_string.capitalize()
my_string.find("s")
my_string.find("M")
my_string.replace("sueño","suerte")
my_string.split()
my_string.strip()

'este es MI sueño'

In [27]:
## s4: listas,
#se crean con [ ]

list0 =  list() #crear
list0 = [] #crear

lista = ["Diego", 34, True] # Datos heterogéneos
lista = [3,3,5,10,5]        # Acepta repetidos
lista[2] = 4                # Elementos mutables
print (lista)
print(lista[1])             # Elementos accesibles por índice


list1 = ["a", 34, 34, True] # distintos tipos y repetidos
print (list1)
print (list1[1:3]) # accesible por indices
print (list1[1:4:2]) # accesible por indices por pasos
print (list1 + [1,2]) #unir listas
print (list1 * 2) #multiplicar listas
len (list1) # len de la lista
list2 = [1, 34, 35]
min(list2) # sólo con num
max(list2)

[3, 3, 4, 10, 5]
3
['a', 34, 34, True]
[34, 34]
[34, True]
['a', 34, 34, True, 1, 2]
['a', 34, 34, True, 'a', 34, 34, True]

35

In [28]:
## s4: listas,
#Podemos crear una lista a base de recoger otras variables sueltas

nombre = "Diego"
edad = 31
carnet_conducir = True
lugar = "Madrid"
datos_Diego = [nombre, edad, carnet_conducir, lugar]
print(datos_Diego)


# Una lista puede tener a su vez otra lista dentro
datos_Otro = ["Pedro", 38, False, "Valladolid"]
datos = [datos_Diego, datos_Otro]
print(datos)

['Diego', 31, True, 'Madrid']
[['Diego', 31, True, 'Madrid'], ['Pedro', 38, False, 'Valladolid']]

In [29]:
## s4: listas

list2= [1,2,3,4]
list2.count(1) # cuanta cuantos hay en la lista
list2.index(3) # te dice la posición
list3 = ["Sevilla", "Madrid", "Barcelona"]
list3.append ("Granada") # insertar un elemento
print(list3 + ["Huelva"]) # insertar
list3.extend (["Cádiz", "Córdoba"]) # insetar varios
list3.remove("Córdoba") #eliminar
print(list3)
del(list3[0]) #eliminar por posición
list3.pop() # elimina el último
list3.pop(0) # elimina el primero segun indice
print(list3)

['Sevilla', 'Madrid', 'Barcelona', 'Granada', 'Huelva']
['Sevilla', 'Madrid', 'Barcelona', 'Granada', 'Cádiz']
['Barcelona', 'Granada']

In [30]:
## s4: listas

list4 = [0,1,2,3,4]
list4.insert(4,5) #isnertar num segun posición pos4 meter num5
print(list4)
list4.sort(reverse=True) # indicar orden asc o desc
list4.reverse() #invertir lista
print(list4)
print(list4[::-1]) #ordenar asc

[0, 1, 2, 3, 5, 4]
[0, 1, 2, 3, 4, 5]
[5, 4, 3, 2, 1, 0]

In [31]:
## s4: listas

# FUNCIONALIDADES DE SECUENCIAS
mi_lista = [1,2,5,10,20,30]

print(len(mi_lista))      # Tamaño de la lista
print(min(mi_lista))      # Valor mínimo de la lista.
print(max(mi_lista))      # Valor máximo de la lista.
print(mi_lista.count(2))  # Cuenta número apariciones de un valor
print(mi_lista.index(2))  # Muestra el índice de la primera aparición de un valor

6
1
30
1
1

In [32]:
## s4: listas
# recorrer una lista

letras = ["A", "B", "C"]
for i in letras:
  print(i)


letras = ["A", "B", "C"]
for i in range(len(letras)):
  print(letras[i])

letras = ["A", "B", "C"]
letras.reverse()
for i in letras:
  print(i)

A
B
C
A
B
C
C
B
A

In [33]:
#  s4: listas: función zip
listA = [1, 2, 3]
listB = [4, 5, 6]
for item in zip(listA, listB):
    print(item)

(1, 4)
(2, 5)
(3, 6)

In [34]:
## s4: tupla se crean con ( )

tup0 = tuple()
tup0=()
tup0= ("a", 3,1,1)
print (tup0)
print (tup0[1])
print (tup0[1:3])
tup1= (3,1,1,2)
max(tup1)
min(tup1)
len(tup1)
tup1.count(1) # cuanta cuantos hay en la tupla
tup1.index(3) # te dice la posición

('a', 3, 1, 1)
3
(3, 1)

0

In [35]:
## s4: tupla

tup2= (3,1,1,2)
#del(tup2[0]) #no es posible modificar
#tup2[3] = 4 # no es posible
tup2_list = list(tup2) #converttir en una lista la tupla
tup2_list[3] = 4
print(tup2_list)

[3, 1, 1, 4]

In [36]:
## s4: tupla: las listas detntro de una tupla Si se puede cambiar

tup4= (0,1,2,3,["A", "B"])
print(tup4)
tup4[4][0]= "E"
print(tup4)

(0, 1, 2, 3, ['A', 'B'])
(0, 1, 2, 3, ['E', 'B'])

Los conjuntos son otra estructura de datos similar a las listas y las tuplas pero más restrictivos. En este caso, los elementos deben ser inmutables, no se almacenarán elementos repetidos y no son accesibles por índice.

In [37]:
# s4 : conjuntos
# se crean con { }

set0= set()
set0= {0}
set1= {1,2, "a"} # datos hetero
set1[0] # no permite acceder

TypeError: 'set' object is not subscriptable

In [ ]:
# s4 : conjuntos

set3= set ([1,1,2,3,4]) # no permite repetidios , solo muestra 1
set3
set4= {1,2,3,4,5}
set4.add(6)
# set4.add([1,2,3]) # no acepta incluir tipos avanzados
set4
set5= {1,2,3,4,5}
set5.update("E") # para incluir tipo cadena usamos update
set5
set5.remove("E")  # eliminar registro, si elemento no existe dara error por lo que podemos usar tb discard
set5

In [ ]:
# s4 : conjuntos

my_set = {"C++", "Python", "Java", "SQL"}

my_set.add("C") # Añadir un elemento
print(f"Add: {my_set}")
my_set.update(["Javascript", "React"]) # Añadir varios elementos
print(f"Update: {my_set}")
my_set.remove("C++")  # Elimina un elemento y genera un error si el elemento no existe
print(f"Remove: {my_set}")
my_set.discard("C++") # Elimina un elemento pero no genera error si el elemento no existe.
print(f"Discard: {my_set}")
my_set.clear()      # Elimina todos los elementos de un conjunto
print(f"Clear: {my_set}")

In [ ]:
# s4 : operaciones conjuntos NUEVA DIAPOSITIVA

a = {2,3}
b = {2,3,4}
a.intersection(b) #mismos valores en ambos
a.union(b) # unión de 2 conjuntos sin repetidos
a.symmetric_difference(b) # difernecia entre ambos
a.issubset(b) # si los elementos de a estan cotenidos en b, es un subconjunto de b
a.issuperset(b) # si todo b esta en a

Un diccionario es una estructura de datos en la que cada posición está representada por un par clave-valor. Se declaran con {}, al igual que con los conjuntos.

In [ ]:
# s4 : diccionarios
# se crean con { }

dict0 = dict()
dict0 = {}
dic1 = {"a" :1, "b" :2, "c": 3}
dict2 = dict ([("a",1), ("b",2), ("c",3)])
dict3= dict (a=1,b=2,c=3)
print(dic1["a"]) # elementos accesibles por claves , NO por indices
len (dic1) # len de las claves
print ("a" in dic1) # indica si está o no.

1
True

In [38]:
# s4 : diccionarios

dic1 = {"a" :1, "b" :2, "c": 3}
# print (dic1[0:2]) no es una lista, al ser dict no es posible.
dic2 = dict(list(dic1.items())[:2]) # dic1.items Devuelve una vista de pares clave, lo transforma en lista, aplica slicing y convierte en dict
print(dic2)

#print(dic1 + {"d":4}) no puedes usar el operador + para combinar diccionarios
dic1["d"]=4
dic1.update({"e": 5})
print(dic1)

{'a': 1, 'b': 2}
{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [ ]:
list(dic1.items())

[('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)]

In [ ]:
# s4 : diccionarios

dic1 = {"a" :1, "b" :2, "c": 3}

dic1.pop("a") # elimina un elemento, ojo con () se hace meediante métido
print(dic1)

del dic1 ["b"] # elimina un elemento, ojo con [], se hace mediante función
print(dic1)

dic1.clear() # borra todo contenido
print(dic1)

del dic1 # borra diccionario

In [ ]:
# s4 : diccionarios

dic1 = {"a" :1, "b" :2, "c": 3}
dic1.keys() # saber las claves
dic1.values() # saber los valores
dic1.items() # saber los items como tuplas

na clave de un diccionario debe ser de un tipo inmutable. Se puede utilizar un entero, flotante, cadena, booleano o tupla. Una lista no puede ser clave de un diccionario

In [44]:
# s4 : diccionarios

dic1 = {"a" :1, "b" :2, "c": 3, (1,2):4}
print(dic1)
dic1 = {"a" :1, "b" :2, "c": 3, 4:(1,2)} # no se permiten listas ni otros dicccionarios
dic1

{'a': 1, 'b': 2, 'c': 3, (1, 2): 4}

{'a': 1, 'b': 2, 'c': 3, 4: (1, 2)}

In [45]:
# s4 : diccionarios

dic1 = {"a" :1, "b" :2, "c": 3}
dic2 = {"a" :4, "d" :5, "e": 6}

dic1.update(dic2)  # realizar actualización , se actualiza a y se añaden d y e
print(dic1)

{'a': 4, 'b': 2, 'c': 3, 'd': 5, 'e': 6}

In [ ]:
# s4 : diccionarios

dic1 = {"a" :1, "b" :2, "c": 3}
dic2 = {"a" :4, "d" :5, "e": 6}

dic1.update(dic2)
print(dic1)

import operator

sorted(dic1.items(), key=operator.itemgetter(1)) # ordenar por valor
sorted(dic1.items(), key=operator.itemgetter(0)) # ordenar por clave

sorted(dic1.items(), key=operator.itemgetter(1), reverse = True) # ordenar por valor de mayor a menor
sorted(dic1.items(), key=operator.itemgetter(0), reverse = True) # ordenar por clave

In [ ]:
# s4 : diccionarios

dic1 = {"a" :1, "b" :2, "c": 3}
dic2 = {"a" :4, "d" :5, "e": 6}

dic1.update(dic2)
print(dic1)

import operator

sorted(dic1.items(), key=operator.itemgetter(1), reverse = True) # ordenar por valor de mayor a menor

In [50]:
muestra = {
            "Cliente_1": {"Nacido": "Marzo", "Edad": 45},
            "Cliente_2": {"Nacido": "Mayo", "Edad": 15}
        }

print("Muestra:", muestra)

for value in muestra.values():
    if value["Nacido"] == "Marzo":
        value["Edad"] += 1

print("\nDict modificado:", muestra)

Muestra: {'Cliente_1': {'Nacido': 'Marzo', 'Edad': 45}, 'Cliente_2': {'Nacido': 'Mayo', 'Edad': 15}}

Dict modificado: {'Cliente_1': {'Nacido': 'Marzo', 'Edad': 46}, 'Cliente_2': {'Nacido': 'Mayo', 'Edad': 15}}

In [51]:
def func(x) -> int:
    return x ** 2

print(func(5))

25

In [56]:
def may_min(cadena: str):
    may = 0
    min = 0
    for char in cadena:
        if char.isupper():
            may += 1
        else:
            min += 1
    return may, min

print(may_min("Hola"))

(1, 3)

In [71]:
def func(*args: int):
    output = 0

    for i in args:
        if i % 2 == 0:
            i = i / 2
        output += i
                    
    return output
    

print(func(2,1, 4, 6))

7.0

In [74]:
print(list(map(lambda i: i.capitalize(), ["carlOS", "juan", "antonio", "jorge"])))

['Carlos', 'Juan', 'Antonio', 'Jorge']

In [75]:
print(list(filter(lambda i: i.lower().startswith("ma"), ["marcela", "mabel", "jorge"])))

['marcela', 'mabel']

In [79]:
var = "bola"

def func():
    global var
    var = var.replace("a", "b")

func()

print(var)

bolb